@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.headerContainer{
    display: flex;
    justify-content: center;
    background-color: #7ccca7;
    height: 15vh;
    padding:0 ;
    border: 1px solid;
    border-radius: 3px;
}


.logo{
    display: flex;
    align-items: center;
}


.logo > img {
    height: 80px;
    width: auto;
}

.logo > h1{
    font-size: 30px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
