
.loginContainer{
    display: flex;
    justify-content: center;

}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50vw;

}

.buttons{
    display: flex;
    gap: 20px;
}

.buttons > button {
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px ;
    margin-left: 10 ;
    width: 150px;
    background-color: #111827;

}

.formContainer{
    padding: 10px;
    padding-left: 10%;
    border: 1px solid black;
    background-color: #e2e8f0;
    
}