@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  font-family: "Pacifico", cursive;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #a7f3d0;
}

.loginContainer {
  flex-grow: 3;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 3;
  gap: 3em;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  width: 50vw;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons>button {
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10;
  width: 150px;
  background-color: #111827;

}

.image {
  width: 40vw;
  height: 100vh;
}

.button {
  border: none;
}
